/* 
Breakpoint naming: 
xs - default (<480px)
sm - min-width: 480px
md - min-width: 736px
lg - min-width: 980px
xl - min-width: 1280px
hg - min-width: 1680px
*/

/*********** global ************/

@import 'https://fonts.googleapis.com/css?family=Raleway:100,300,600';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    color: #9a9a9a;
    line-height: 1.65;
}

/*********** end global ***********/
/*********** hamburger - nav **********/

.hamburger {
    width: 100%;
    height: 0.2rem;
    border-radius: 0.1rem;
    background-color: #fff;
    position: relative;
}

.hamburger::before {
    content: '';
    display: block;
    width: 100%;
    height: 0.2rem;
    border-radius: 0.1rem;
    background-color: #fff;
    position: absolute;
    bottom: 0.5rem;
}

.hamburger::after {
    content: '';
    display: block;
    width: 100%;
    height: 0.2rem;
    border-radius: 0.1rem;
    background-color: #fff;
    position: absolute;
    top: 0.5rem;
}

.nav {
    display: none;
}

.nav a {
    text-decoration: none;
    color: white;
    font-size: 0.8rem;
    padding-left: 1.6rem;
    font-weight: lighter;
}

/********** end hamburger - nav **********/
/*********** container ***********/

.container {
    margin: 0 auto;
    width: 85%;
}

.container-full-width {
    width: 100%;
}

.container.lower a {
    margin-top: 2em;
}

footer .container {
    margin: 1.5em 0 auto;
    width: 100%;
}

.bg-blue {
    background-color: #5385c1;
    padding: 2.25rem 0;
}

/*********** container Media Queries ***********/
@media screen and (min-width: 480px) {
    .container {
        width: 85%;
    }

    .hamburger {
        display: flex;
    }

    .nav {
        display: none;
    }
}

@media screen and (min-width: 736px) {
    .container {
        width: 90%;
    }
}

@media screen and (min-width: 980px) {
    .container {
        width: 90%;
    }

    .hamburger {
        display: none;
    }

    .nav {
        display: block;
    }

    .bg-blue {
        padding: 4rem 0 4rem;
    }
}

@media screen and (min-width: 1280px) {
    .container {
        width: 85%;
    }
}

@media screen and (min-width: 1680px) {
    .container {
        width: 75%;
    }
}

/*********** end container ***********/
/*********** columns ***********/


/* columns Media Queries */

@media screen and (min-width: 480px) {
    .sm-no-row {
        display: block;
    }

    .sm-row {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .sm-col-full {
        width: 100%;
        text-align: left;
    }

    .sm-col-half {
        width: calc((100% - 4rem) / 2);
    }

    .sm-col-third {
        width: calc((100% - 8rem) / 3);
    }
}

@media screen and (min-width: 736px) {
    .md-no-row {
        display: block;
    }

    .md-row {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .md-row-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .md-col-full {
        width: 100%;
        text-align: left;
    }

    .md-col-half {
        width: calc((100% - 4rem) / 2);
    }

    .md-col-half-elements {
        width: calc((100% - 2rem) / 2);
    }

    .md-col-third {
        width: calc((100% - 8rem) / 3);
    }
}

@media screen and (min-width: 980px) {
    .lg-no-row {
        display: block;
    }

    .lg-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 3rem 0;
    }
    .lg-row-elements {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 0 3rem;
    }

    .lg-col-full {
        width: 100%;
        text-align: left;
    }

    .lg-col-half {
        width: calc((100% - 4rem) / 2);
    }

    .lg-col-third {
        width: calc((100% - 8rem) / 3);
    }

    .lg-col-third-elements {
        width: calc((100% - 4rem) / 3);
    }

    .lg-col-fourth{
        width: calc((100% - 12rem) / 4);
    }
}

@media screen and (min-width: 1280px) {
    .xl-no-row {
        display: block;
    }

    .xl-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 1rem 0;
    }

    .xl-col-full {
        width: 100%;
        text-align: left;
    }

    .xl-col-half {
        width: calc((100% - 4rem) / 2);
    }

    .xl-col-third {
        width: calc((100% - 8rem) / 3);
    }

    .xl-col-fourth{
        width: calc((100% - 12rem) / 4);
    }
}

@media screen and (min-width: 1680px) {
    .hg-no-row {
        display: block;
    }

    .hg-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 5rem 0;
    }

    .hg-col-full {
        width: 100%;
        text-align: left;
    }

    .hg-col-half {
        width: calc((100% - 5rem) / 2);
    }

    .hg-col-third {
        width: calc((100% - 10rem) / 3);
    }

    .hg-col-fourth{
        width: calc((100% - 15rem) / 4);
    }
}

/*********** end columns ***********/
/*********** header ***********/

header {
    background-color: #5385c1;
    color: white;
    padding: 0.7rem 0;
    position: sticky;
    top: 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav .hamburger{
    width: 1.5rem; 
}

#header {
    background-color: rgba(255,255,255,0);
    color: white;
    position: absolute;
    top: 0.5em;
    width: 100%;
}

.logo, .logo a{
    font-weight: 600;
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

/*********** Header Media Queries ***********/

@media screen and (min-width: 480px) {
    #header {
        padding-top: .5rem;
    }
}

@media screen and (min-width: 736px) {
    #header {
        padding-top: 1.5rem;
    }
}

@media screen and (min-width: 980px) {
    #header {
        padding-top: 3rem;
    }
}

/*********** end header ***********/
/*********** banner ***********/

.banner {
    padding: 6.5rem 1.5rem 2.75rem;
    background-image: url('images/banner.jpg');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    text-align: center;
    border-top: 0.5em solid #5385c1;
    margin-bottom: 2rem;
}

/*********** banner Media Queries ***********/

@media screen and (min-width: 480px) {
    .banner {
        padding: 8rem 1.5rem 8rem;
    }
}

@media screen and (min-width: 736px) {
    .banner {
        padding: 9rem 1.5rem 10rem;
    }
}

@media screen and (min-width: 980px) {
    .banner {
        padding: 8rem 1.5rem 7rem;
    }
}

@media screen and (min-width: 1280px) {
    .banner {
    padding: 11rem 1.5rem 9rem;
    }
}

@media screen and (min-width: 1680px) {
    .banner {
    padding: 13rem 1.5rem 11rem;
    }
}

/*********** end banner ***********/
/*********** section **********/

.section {
    text-align: center;
    margin-bottom: 2rem;
}

section .section {
    margin-bottom: 2rem;
}

.sm-section {
    margin-top: 0;
}

.section .text-align-center {
    margin: 2rem 0 3rem 0;
}

.section-with-border {
    border-bottom: 1px solid #dbdbdb;
    padding-bottom: 3rem;
    margin: 0 0 3rem 0;
}

.sm-section-with-border {
    border-bottom: 1px solid #dbdbdb;
    padding-bottom: 1rem;
    margin-top: 0;
}

.border {
    width: 1px;
    margin: 0 3rem;
    height: auto;
    border-right: 1px solid #dbdbdb;
}

.border-around {
    text-align: center;
    padding: 2rem;
    height: auto;
    border: 1px solid rgba(255,255,255,0.25);
    margin-bottom: 2rem;
}

/*********** section Media Queries ***********/

@media screen and (min-width: 480px) {
    .section {
        text-align: left;
    }
}

@media screen and (min-width: 980px) {
    .section-with-border {
       border-bottom: none;
       padding-bottom: 0;
       margin-bottom: 0;
    }

    .section {
        text-align: left;
        margin: 2rem 0 2rem;
    }
}

/*********** end section ***********/
/*********** headers ***********/

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #5385c1;
    font-weight: 300;
    margin-bottom: 1rem;
}

h1 {
    font-size: 2.5rem;
    font-weight: 100;
}

.bg-blue h1 {
    font-size: 2rem;
}

h2 {
    font-size: 2rem;
    font-weight: 100;
    padding-top: 2rem;
    text-align: center;
}

h3 {
    font-size: 1.4rem;
    line-height: 2rem;
    padding: 0 1rem;
}

h4 {
    font-size: 1.1rem;
}

h5 {
    font-size: 0.9rem;
}

h6 {
    font-size: 0.7rem;
}

/************ Headers Media Queries ***********/

@media screen and (min-width: 480px) {
    h3 {
        padding-left: 0;
        padding-right: 0;
    }
    
    h2 {
        text-align: left;
    }
}


@media screen and (min-width: 736px) {
    h1 {
        font-size: 3.5rem;
        padding-top: 1rem;
    }
    
    .bg-blue h1 {
        font-size: 2.75rem;
        padding-top: 1rem;
    }

    h2 {
        font-size: 1.75rem;
        padding-top: 2rem;
    }

    h3 {
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 980px) {
    h3 {
        font-size: 1.2rem;
    }
}

@media screen and (min-width: 1680px) {
    .bg-blue h1 {
        font-size: 3rem;
        padding-top: 3rem;
    }
    
    h3 {
        font-size: 1.75rem;
    }
}

/************ end headers ***********/
/************ paragraph ***********/

p {
    font-size: 1rem;
}

/*********** Paragraph Media Queries ***********/

@media screen and (min-width: 480px) {
    p {
        padding-left: 0;
    }
}

@media screen and (min-width: 980px) {
    p {
        font-size: 0.9rem;
    }
}
@media screen and (min-width: 1680px) {
    p {
        font-size: 1.2rem;
    }
}

/*********** end paragraph ***********/
/*********** title - subtitle ***********/

.title {
    font-size: 2rem;
    padding-top: 2rem;
}

.title-lighter {
    font-weight: lighter;
}

.subtitle {
    color: #bbbbbb;
    font-size: .9rem;
    margin-bottom: 2rem;
}

h2 + .subtitle {
    margin-top: -20px;
    text-align: center;
}

h3 + .subtitle {
    margin-top: -14px;
}

/*********** title - subtitle Media Queries ***********/

@media screen and (min-width: 480px) {
    .subtitle {
        text-align: left;
    }
}

@media screen and (min-width: 736px) {
    .title {
        font-size: 2rem;
    }

    .subtitle {
        font-size: 1rem;
    }
}

@media screen and (min-width: 980px) {
    .title {
        font-size: 2.5rem;
        padding-top: 5rem;
    }
}

@media screen and (min-width: 1680px) {
    .title {
        font-size: 3rem;
        padding-top: 5rem;
    }
}

/*********** end title - subtitle ***********/
/*********** description ***********/

dt {
    font-weight: 600;
    padding-bottom: 1rem;
}

dd {
    padding-left: 2rem;
}

/*********** end description ***********/
/*********** blockquote ***********/

blockquote {
    border-left: solid 4px #dbdbdb;
    font-style: italic;
    margin: 0 0 2rem 0;
    padding: 0.5rem 0 0.5rem 2rem;
}

/*********** end blockquote ***********/
/*********** article ***********/

.article {
    text-align: center;
    margin-bottom: 3em;
}

/*********** article Media Queries ***********/

@media screen and (min-width: 480px) {
    .article {
        text-align: left;
    }
}
/*********** end article ***********/
/*********** button ***********/

.button {
    background-color: #5a5a5a;
    border-radius: 0;
    border: 0;
    color: white;
    display: block;
    height: 3rem;
    line-height: 2rem;
    padding: 0 1.5rem;
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 2rem;
    font-size: 1rem;
    cursor: pointer;
}

.button:last-child {
    margin-bottom: 0;
}

.button.special {
    background-color: #5385c1;
}

.button.alt {
    background-color: #fff;
    border: 2px solid #dbdbdb;
    color: #555;
}

.button.big {
    font-size: 1.35rem;
    height: 4rem;
    line-height: 4rem;
}

.button.small {
    font-size: 0.8rem;
    height: 2.5rem;
    line-height: 2.5rem;
}

.more {
    width: auto;
}

.button.grow {
    flex-grow: 1;
}

.button-group {
    display: flex;
    vertical-align: baseline;
}

.button-group .button {
    margin: 0 0.5rem;
    flex-grow: 0;
}

.button-group .grow {
    margin: 0 0.5rem;
    flex-grow: 1;
}

.button-group .button:first-child {
    margin-left: 0;
}

.button-group .button:last-child {
    margin-right: 0;
}

.button:disabled {
    opacity: 0.25;
    background-color: #9a9a9a;
    color: white;
    cursor: default;
}

/*********** button Media Queries ***********/

@media screen and (max-width: 479px) {
    .more {
        width: 100%;
    }
}

@media screen and (min-width: 480px) {
    .button {
        width: auto;
    }
}

/*********** end button ***********/
/*********** images ***********/

.image {
    display: block;
    max-width: 40%;
    margin-top: 0.4rem;
}

.image img {
    max-width: 100%;
}

.image.left {
    float: left;
    padding: 0 1.5rem 0.5rem 0;
}

.image.right {
    float: right;
    padding: 0 0 0.5rem 1.5rem;
}

.image-fit {
    width:100%;
    height: auto;
    margin-bottom: 1rem;
}

.round {
    width: 100%;
    border-radius: 100%;
    margin-bottom: 2rem;
    max-width: 168px;
}

/*********** end images ***********/
/*********** box ***********/

.box {
    border: solid 1px #dbdbdb;
    padding: 1.5em;
}

.box *:first-child {
    margin-top: 0;
}

.box *:last-child {
    margin-bottom: 0;
}

/*********** end box ***********/
/*********** footer ***********/

footer {
    padding-top: 0.5rem;
    padding-bottom: 2rem;
}

.footer-content {
    padding-top: 2rem;
    border-top: 1px solid #dbdbdb;
    font-size: 0.8rem;
    text-align: center;
}

/*********** footer Media Queries ***********/

@media screen and (min-width: 736px) {
    .footer-content {
        padding-top: 3rem;
        text-align: left;
    }
}

@media screen and (min-width: 1280px) {
    .footer-content {
        font-size: 0.6rem;
    }
}

/*********** end footer ***********/
/*********** helpers ***********/

.text-align-center {
    text-align: center;
}

.white {
    color: white;
    line-height: 1em;
}

.transparent {
    color: rgba(255,255,255,0.55);
}

.flex {
    display: flex; 
}

@media screen and (min-width: 480px) {
    .flex {
        display: flex;
        justify-content: space-between;
    }
}

.fit {
    width: 100%;
}

.spacing {
    padding-bottom: 2rem;
}

.no-spacing {
    margin: 0;
    padding: 0;
}

.no-padding {
    padding:0;
}

.padding-top {
    padding-top: 2rem;
}

/*********** end helpers ***********/