* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: "Raleway", sans-serif;
}

.top-header {
  background-color: rgb(57, 141, 190);
  height: 44px;
  width: 100%;
  position: sticky;
  top: 0;
}

.inner {
  width: 400px;
}

.hamburger hamburger {
  width: 30px;
}

.logo {
  float: left;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 30px;
  text-decoration: none;
  color: white;
  padding-top: 12px;
  font-weight: bold;
}

.nav {
  display: none;
  justify-content: space-between;
}

.banner {
  width: 100%;
  text-align: center;
  height: 100px;
  margin-bottom: 64px;
}

.main {
  padding: 32px 0px;
}
.container {
  margin: 0 auto;
  width: 90%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #5385c1;
}
h1 {
  font-size: 2.7em;
  font-weight: 100;
  margin: 0;
  margin-bottom: 20px;
}

h2 {
  font-size: 2em;
  font-weight: 100;
}

h3 {
  font-size: 1.35em;
  font-weight: 300;
  margin: 0px 0px 16px 0px;
}

h4 {
  font-size: 1.1em;
  font-weight: 300;
}

h5 {
  font-size: 0.9em;
  font-weight: 100;
}

h6 {
  font-size: 0.7em;
  font-weight: 100;
}

dt {
  font-weight: 600;
  margin-bottom: 16px;
}

dl p {
  margin-bottom: 32px;
}
p {
  color: gray;
  font-size: 1em;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  margin: 0;
  margin-bottom: 32px;
  line-height: 1.7em;
}

.content {
  width: 90%;
  margin: auto;
}
.content h2 {
  margin-bottom: 28px;
}

.row-1,
.row-2,
.row-3 {
  width: 90%;
  margin: auto;
}

.row-1-left,
.row-1-right {
  width: 100%;
  margin: auto;
}

.row-2-left,
.row-2-middle,
.row-2-right {
  width: 100%;
  margin: auto;
}

hr {
  width: 90%;
  border-style: solid 1px gray;
  margin: 44px auto;
}
.hr-column {
  width: 100%;
  border-style: solid 1px gray;
  margin: 44px auto;
}

.row-3-left,
.row-3-right {
  text-align: center;
}

.elements {
  width: 90%;
  margin: auto;
  text-align: center;
}

blockquote {
  border-left: solid 4px #dbdbdb;
  font-style: italic;
  margin: 0 0 2em 0;
  padding: 0.5em 0 0.5em 2em;
}

ul.actions li {
  text-decoration: none;
  list-style: none;
  text-align: center;
}

li {
  padding-top: 16px;
}
.button.special {
  background-color: #5385c1;
}
/*.button {
  width: 90%;
  display: inline-block;
  height: 3rem;
  line-height: 2.95em;
  text-decoration: none;
  background-color: #5a5a5a;
  color: white;
  padding: 0 1.5rem;
}*/
.button {
  width: 90%;
  background-color: #5a5a5a;
  border-radius: 0;
  border: 0;
  color: white;
  display: inline-block;
  height: 3rem;
  line-height: 3rem;
  padding: 0 1.5rem;
  width: 100%;
  text-align: center;
}

.alt {
  background-color: transparent;
  box-shadow: 0 0 0 2px #dbdbdb;
  color: #555555;
}

.button.small {
  font-size: 0.8rem;
  height: 2.5rem;
  line-height: 2.5em;
}
.actions.fit {
  display: flex;
  margin: 0;
  padding: 0;
  table-layout: fixed;
}

@media screen and (min-width: 736px) {
  .row-1 {
    display: flex;
    justify-content: space-between;
  }

  .row-1-left,
  .row-1-right {
    width: calc((100% - 24px) / 2);
    margin: 0;
  }

  h1 {
    font-size: 1.8em;
  }
  .banner p {
    font-size: 0.9em;
    margin-bottom: 21.6px;
  }
  .banner {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 980px) {
  .row-2 {
    display: flex;
    justify-content: space-between;
  }

  .row-2-left,
  .row-2-middle,
  .row-2-right {
    width: calc((100% - 48px) / 3);
    margin: 0;
  }
}
