* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

.top-header {
    background-color: rgb(57, 141, 190);
    height: 44px;
    width: 100%;
}

.inner {
    width: 400px;

}
.logo {
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 30px;
    text-decoration: none;
    color: white;
    padding-top: 12px;
    font-weight: bold;

}

.nav {
    display: none;
    justify-content: space-between;
}

.banner {
    width: 100%;
    text-align: center;
    height: 100px;
    margin-bottom: 64px;
}

.main {
    padding: 32px 0px;
}

h1 {
    color: rgb(57, 141, 190);
    font-size: 2.7em;
    font-weight: 100;
    font-family: 'Raleway', sans-serif;
    margin: 0;
    margin-bottom: 20px;

}

h2 {
    color: rgb(57, 141, 190) ;
    font-size: 1.8em;
    font-weight: 100;
}

h3 {
    color: rgb(57, 141, 190) ;
    font-size: 1.35em;
    font-weight: 200;
    margin: 0px 0px 16px 0px;
}

p {
    color: gray;
    font-size: 1em;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    margin: 0;
    margin-bottom: 32px;
    line-height: 1.7em;

}

.content {
    width: 90%;
    margin: auto;

}
.content h2 {
    margin-bottom: 28px;
}

.row-1, .row-2, .row-3 {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.row-1-left, .row-1-right {
    width: calc((100% - 24px) / 2);
    margin: 0;
}

.row-2-left, .row-2-middle, .row-2-right {
    width: calc((100% - 24px) / 3);
    margin: 0;
}

hr {
    width: 90%;
    border-style: solid 1px gray;
    margin: 44px auto;
}
.hr-column {
    width: 100%;
    border-style: solid 1px gray;
    margin: 44px auto;
}

.row-3-left, .row-3-right {
    width: calc((90% - 24px) / 2);
}

.elements {
    width: 90%;
    margin: auto;
}

@media screen and (max-width: 882px) {
    .row-2 {
        flex-direction: column;
        width: 90%;
    }

    .row-2-left, .row-2-middle, .row-2-right {
        width: 100%;
    }
}

@media screen and (max-width: 662px) {
    .row-1 {
        flex-direction: column;
    }

    .row-1-left, .row-1-right {
        width: 100%;
    }

    h1 {
        font-size: 1.8em;
    }
    .banner p {
        font-size: 0.9em;
        margin-bottom: 21.6px;
    }
    .banner {
        margin-bottom: 0;
    }

}